# perl
alias irp='perl -de1'

# git
alias s="git status"
alias c="git commit"

# bash function to fix ssh forwarging in tmux
fixssh() {
    eval $(tmux show-env |sed -n 's/^\(SSH_[^=]*\)=\(.*\)/export \1="\2"/p')
}

